@import './variable.scss';

@font-face {
    font-family: 'iconfont';  /* project id 530811 */
    src: url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.eot');
    src: url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.woff') format('woff'),
    url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_530811_eh4ylw29ua4.svg#iconfont') format('svg');
  }

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-width: 1260px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border-color: $themefontColor !important;
}

textarea {
    border: none;
    outline: none;
}

textarea:focus {
    border-color: $themefontColor !important;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.btn {
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn-theme {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 40px;
    background-color: #DB7093;
    display: inline-block;
}

.btn-block {
    display: block;
}

a {
    outline: none;
    text-decoration: none;
    color: #2c3e50;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 90px;
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 850px;
    }
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

::selection {
    background: #FFC0CB;
    color: #000;
}

::-moz-selection {
    background: #FFC0CB;
    color: #000;
}

::-webkit-selection {
    background: #FFC0CB;
    color: #000;
}

.el-select-dropdown__item.selected {
    color: $themefontColor !important;
}

.el-message {
    z-index: 99999999 !important;
}

// .el-button--primary {
//     background-color: $themefontColor;
//     border-color: $themefontColor;
// }
//
// .el-button--primary:hover {
//     background-color: $themefontColor;
//     border-color: $themefontColor;
// }

.none {
    display: none;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.mt_10 {
    margin-top: 10px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_20 {
    margin-bottom: 20px;
}

.load-more {
    width: 100%;
    border-radius: 20px;
    background-color: #a5a5a5;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    display: block;
    cursor: pointer;
}
