@import './variable.scss';
#classesPage {
    .classes_container {
        width: 100%;
        padding-right: 320px;
        position: relative;
        min-height: 800px;
        .top {
            .class_img {
                width: 80px;
                height: 80px;
                border-radius: 10%;
            }
            .info {
                display: inline-block;
                margin-left: 15px;
                vertical-align: top;
                h1 {
                    font-size: 25px;
                    line-height: 35px;
                }
                p {
                    margin-top: 25px;
                }
            }
        }
        .tab_ul {
            margin-top: 20px;
            border-bottom: 1px solid #f0f0f0;
            li {
                float: left;
                padding: 10px 20px;
                cursor: pointer;
                color: #969696;
                i {
                    margin-right: 5px;
                }
            }
            li.active {
                color: #646464;
                border-bottom: 2px solid #646464;
            }
        }
    }
}

.pagination_container {
    padding: 30px 0 30px 40px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: $themefontColor;
}

.el-pager li.active {
    background-color: $themefontColor;
}

.el-pager li:hover {
    color: $themefontColor;
}
