@import './variable.scss';
.review_container {
    position: relative;
    textarea,
    .sign-container {
        padding: 10px 15px;
        width: 100%;
        height: 80px;
        font-size: 13px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        background-color: hsla(0, 0%, 71%, .1);
        resize: none;
        display: inline-block;
        vertical-align: top;
        outline-style: none;
    }
    .write-function-block {
        height: 50px;
        padding-top: 10px;
        .cancel {
            display: block;
            width: 80px;
            height: 42px;
            padding: 12px 23px;
            color: #969696;
        }
    }
    .goLogin {
        background-color: $themefontColor;
        border-color: $themefontColor;
        margin-left: 180px;
        margin-right: 10px;
        margin-top: 8px;
    }
    .sign-container .word {
        font-size: 14px;
    }
}

.review_container.haveAvatar {
    margin-left: 48px;
    .avatar {
        position: absolute;
        left: -48px;
        margin-right: 5px;
        width: 38px;
        height: 38px;
        vertical-align: middle;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
        }
    }
}

.avatar {
    img {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
}
