@import './variable.scss';
.review_container {
    position: relative;
    textarea,
    .sign-container {
        padding: 10px 15px;
        width: 100%;
        height: 80px;
        font-size: 13px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        background-color: hsla(0, 0%, 71%, .1);
        resize: none;
        display: inline-block;
        vertical-align: top;
        outline-style: none;
    }
    .write-function-block {
        height: 50px;
        padding-top: 10px;
        .face {
            color: #969696;
            cursor: pointer;
            line-height: 25px;
            &:hover {
                color: #333;
            }
            i {
                font-size: 25px;
                display: block;
                float: left;
            }
            span {
                display: block;
                float: left;
                margin-left: 5px;
            }
        }
        .cancel {
            display: block;
            width: 80px;
            height: 42px;
            padding: 12px 23px;
            color: #969696;
        }
    }
    .goLogin {
        background-color: $themefontColor;
        border-color: $themefontColor;
        margin-left: 180px;
        margin-right: 10px;
        margin-top: 8px;
    }
    .sign-container .word {
        font-size: 14px;
    }
}

.review_container.haveAvatar {
    margin-left: 48px;
    .avatar {
        position: absolute;
        left: -48px;
        margin-right: 5px;
        width: 38px;
        height: 38px;
        vertical-align: middle;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            border-radius: 50%;
        }
    }
}

.avatar {
    img {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
}

/*文章列表*/
.articleItem {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding: 30px 2px 20px 0;
    position: relative;
    .art_img {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        right: 0;
        width: 125px;
        height: 100px;
        display: block;
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1px solid #f0f0f0;
        }
    }
    .art_title {
        margin: -7px 0 4px;
        display: inherit;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
    }
    .art_title:hover {
        text-decoration: underline;
    }
    .abstract {
        margin: 0 0 8px;
        font-size: 13px;
        line-height: 24px;
        color: #999;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .art_bottom {
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        i {
            display: block;
            margin-right: 5px;
            color: #b4b4b4;
        }
        a {
            margin-right: 10px;
            color: #b4b4b4;
            font-size: 12px;
            transition: all .5s linear;
        }
        a:hover {
            color: #333;
            i {
                color: #333;
            }
            span {
                color: #333;
            }
        }
        span {
            color: #b4b4b4;
            font-size: 12px;
        }
        .item {
            margin-right: 10px;
        }
        .attention {
            font-size: 12px;
        }
    }
}

.articleItem.haveImg {
    padding-right: 140px;
}

.main_container {
	width: 100%;
	min-height: 400px;
	padding-right: 320px;
	position: relative;
}
.main_sidebar {
	width: 280px;
	height: 500px;
	position: absolute;
	top: 0;
	right: 0;
}
//qq表情样式
#facebox {
    margin-top: 4px;
    background: #fff;
    padding: 5px;
    border: 1px #dfe6f6 solid;
    border-radius: 5px;
    table td {
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background-color: #dfe6f6;
        }
    }
}
//结果页无结果样式
.result_empty {
    overflow: hidden;
    img {
        width: 100px;
        display: block;
        margin: 150px auto 0;
    }
    p {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
    }
}