$themeColor: #FFC0CB;
$themefontColor: #DB7093;

$wireframe: #9e9e9e;

$fontLarger: 24px;
$fontLarge: 20px;
$fontBig: 18px;
$fontNormal: 16px;
$fontSmall: 14px;
$fontMinimal: 12px;

$fontlight: #969696;