<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/plugins/element/element.min.css">
    <link rel="stylesheet" href="/css/style.min.css?v={{ version }}">
</head>

<body>
	{% include './layout/header.html' with header %}
	<div id="detailsPage" class="container">
		<div class="note_view">
			<h1 class="title">{{msg.title}}</h1>
			<div class="author">
				<a class="avatar" href="#">
					<img src="/img/head.png" alt="">
				</a>
				<div class="info">
					<span class="name">
						<a href="#">{{msg.nick}}</a>
					</span>
					<div class="meta">
						<span>{{msg.update_time}}</span>
						<span>字数 {{msg.word_num}}</span>
						<span>阅读 {{msg.point_count}}</span>
						<span>评论 {{msg.comment_count}}</span>
						<span>喜欢 {{msg.attention_count}}</span>
					</div>
				</div>
			</div>
			<div class="note_post">
				{% autoescape %}
				{{ msg.content }}
				{% endautoescape %}
			</div>
		</div>
	</div>
	{% include './layout/footer.html' %}
	<script src="/plugins/jquery.min.js"></script>
	<script src="/plugins/vue.min.js"></script>
	<script src="/js/common.min.js?v={{ version }}"></script>
</body>

</html>