<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/plugins/element/element.min.css">
    <link rel="stylesheet" href="/css/style.min.css?v={{ version }}">
</head>

<body>
	{% include './layout/header.html' with header %}
	<div id="detailsPage" class="container">
		<div class="note_view">
			<h1 class="title">{{word_msg.title}}</h1>
			<div class="author">
				<a class="avatar" href="/u/{{user_msg.id}}" target="_blank">
					{% if user_msg.head!=0 %}
					<img src="{{user_msg.head}}" alt="" onerror="this.src='/img/head.png'">
					{% else %}
					<img src="/img/head.png" alt="">
					{% endif %}
				</a>
				<div class="info">
					<span class="name">
						<a href="/u/{{user_msg.id}}" target="_blank">{{user_msg.nick}}</a>
					</span>
					<div class="meta">
						<span>{{word_msg.update_time}}</span>
						<span>字数 {{word_msg.word_num}}</span>
						<span>阅读 {{word_msg.point_count}}</span>
						<span>评论 {{word_msg.comment_count}}</span>
						<span>喜欢 {{word_msg.attention_count}}</span>
					</div>
				</div>
			</div>
			<div class="note_post">
				{% autoescape %}
				{{ word_msg.content }}
				{% endautoescape %}
			</div>
			<!-- 赞赏按钮 -->
			{% if user_msg.reward == 1 %}
			<div class="free-reward-panel">
				<button class="reward-button" @click.stop="rewardswitch()">赞赏支持</button>
				<div class="receipt_code">
					<img src="{{user_msg.receipt_code}}" alt="支付二维码">
				</div>
			</div>
			{% endif %}
			<!-- 文章底部作者信息 -->
			<div class="follow-detail">
				<div class="info">
					<a class="avatar" href="/u/{{user_msg.id}}">
						{% if user_msg.head!=0 %}
						<img src="{{user_msg.head}}" alt="" onerror="this.src='/img/head.png'">
						{% else %}
						<img src="/img/head.png" alt="">
						{% endif %}
					</a>
					<a class="title" href="/u/{{user_msg.id}}">{{user_msg.nick}}</a>
					<p>写了 0 字，有 {{user_msg.word_num}} 篇文章，获得了 0 个喜欢</p>
				</div>
				{% if user_msg.intro!=null&&user_msg.intro!='' %}
				<div class="signature">
					{{user_msg.intro}}
				</div>
				{% endif %}
			</div>
			<div class="meta-bottom">
				<div class="like">
					<div class="like-group unlike">
						<span>喜欢</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input id="article_id" type="hidden" value="{{word_msg.id}}">
	{% include './layout/footer.html' %}
	<script src="/plugins/jquery.min.js"></script>
	<script src="/plugins/vue.min.js"></script>
	<script src="/plugins/element/element.min.js"></script>
	<script src="/js/common.min.js?v={{ version }}"></script>
	<script src="/js/details.min.js?v={{ version }}"></script>
</body>

</html>