<!DOCTYPE html>
<html>

<head>
	{% include './layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/swiper/css/swiper.min.css?v=21b70942d56c99faef25bec8db671e10">
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=39f8909f667dc7885153228400137d3b">
</head>

<body>
    {% include './layout/header.html' with header %}
    <div id="homePage" class="container">
        <div class="home_container main_container">
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    	{% for key,item in carousel %}
                        <div class="swiper-slide">
                        	<a href="{% if item.ad_link!=null %} item.ad_link {% else %}javascript:;{% endif %}" {% if item.blank==0 %} target="_blank" {% endif %}>
                        		<img src="{{item.ad_img}}">
                        	</a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- 如果需要导航按钮 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="articleList">
				{% for key, item in list %}
				<div class="articleItem {% if item.cover!='' %} haveImg {% endif %}">
					{% if item.cover!='' %}
					<a href="/p/{{item.id}}" class="art_img" target="_blank">
						<img src="{{item.cover}}" alt="" />
					</a>
					{% endif %}
					<a href="/p/{{item.id}}" class="art_title" target="_blank">{{item.title}}</a>
					<div class="abstract">
						{% autoescape %}
						{{item.abstract}}
						{% endautoescape %}
					</div>
					<div class="art_bottom">
						<a class="fl" href="#" target="_blank" v-text="item.nick"></a>
						<div class="fl item">
							<i class="icon fl point">&#xe614;</i>
							<span class="fl">{{item.point_count}}</span>
						</div>
						<a class="fl" href="/p/{{item.id}}#comments" target="_blank">
							<i class="icon fl comment">&#xe64c;</i>
							<span class="fl">{{item.comment_count}}</span>
						</a>
						<div class="fl item">
							<i class="icon fl attention">&#xe6e7;</i>
							<span class="fl">{{item.attention_count}}</span>
						</div>
					</div>
				</div>
				{% endfor %}
                <div class="articleItem" :class="{haveImg:vals.cover!=''}" v-for="vals in homeList">
                    <a :href="'/p/' + vals.id" class="art_img" v-if="vals.cover!=''" target="_blank">
                        <img :src="vals.cover" alt="" />
                    </a>
                    <a :href="'/p/' + vals.id" class="art_title" v-text="vals.title" target="_blank"></a>
                    <div class="abstract" v-html="vals.abstract"></div>
                    <div class="art_bottom">
						<a class="fl" href="#" target="_blank" v-text="vals.nick"></a>
                        <div class="fl item">
							<i class="icon fl point">&#xe614;</i>
							<span class="fl" v-text="vals.point_count"></span>
						</div>
						<a class="fl" :href="'/p/' + vals.id + '#comments'" target="_blank">
							<i class="icon fl comment">&#xe64c;</i>
							<span class="fl" v-text="vals.comment_count"></span>
						</a>
						<div class="fl item">
							<i class="icon fl attention">&#xe6e7;</i>
							<span class="fl" v-text="vals.attention_count"></span>
						</div>
                    </div>
                </div>
				<p class="noMore" v-show="noMore">没有更多内容了...</p>
				<div class="load-more" v-show="loading" @click="getMore()">阅读更多</div>
            </div>
            <div class="main_sidebar" >
                {% include './layout/sidebar.html' with classify %}
            </div>
        </div>
    </div>
    {% include './layout/footer.html' %}

    <script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
    <script src="/plugins/vue.min.js?v=6f0a53f55512dcfe993ed7977a6fc539"></script>
    <script src="/plugins/swiper/js/swiper.min.js?v=9c379840216a38360bb9b9ad8e04bb5c"></script>
	<script src="/plugins/tagcloud.js?v=20bf195cc349b25c53ffcbc4ff5b9409"></script>
    <script src="/js/common.min.js?v=bd74cadd7f3717aa8fa5f89010513bdd"></script>
    <script src="/js/home.min.js?v=9a0caed3c0d6bafe3f3279b805c367ae"></script>
    {% include './layout/count.html' %}
</body>

</html>
