<!DOCTYPE html>
<html>

<head>
    {% include './layout/meta.html' with meta %}
	<link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=d7f59f809d6304df520f6a6a51d35e0d">
</head>

<body>
	<div id="loginPage">
		<img src="/img/logo.png?v=c31538bf3ca7b2441836121f43c3545e" alt="" class="logo" />
		<div class="login_center">
			<ul class="tab">
				<li :class="{active:cut_flag==1}" v-on:click="cut(1)">登录</li>
				<li>·</li>
				<li :class="{active:cut_flag==2}" v-on:click="cut(2)">注册</li>
			</ul>
			<div class="login_module" v-show="cut_flag==1">
				<el-input class="mb_10" v-model="login_phone" placeholder="手机号">
					<i class="icon" slot="prepend">&#xe616;</i>
				</el-input>
				<el-input class="mb_10" type="password" v-model="login_password" placeholder="密码" @keyup.native.13="login">
					<i class="icon" slot="prepend">&#xe617;</i>
				</el-input>
				<el-button type="primary" class="btn login_btn" @click="login">登录</el-button>
				<div class="thirdParty clearfix">
					<div class="top">
						<div class="line"></div>
						<div class="title">社交账号登录</div>
					</div>
					<div class="child">
						<a href="javascript:;" v-on:click="thirdParty(1)">
							<i class="icon microblog gray">&#xe63d;</i>
						</a>
					</div>
					<div class="child">
						<a href="javascript:;" v-on:click="thirdParty(2)">
							<i class="icon wechat gray">&#xe62f;</i>
						</a>
					</div>
					<div class="child">
						<a href="/auth/qq_connect" target="_blank">
							<i class="icon qq">&#xe612;</i>
						</a>
					</div>
				</div>
			</div>
			<div class="register_module" v-show="cut_flag==2">
				<el-input class="mb_10" v-model="register_name" placeholder="你的昵称">
					<i class="icon" slot="prepend">&#xe687;</i>
				</el-input>
				<el-input class="mb_10" v-model="register_phone" placeholder="手机号">
					<i class="icon" slot="prepend">&#xe616;</i>
				</el-input>
				<el-input class="mb_10" type="password" v-model="register_password" placeholder="设置密码" @keyup.native.13="register">
					<i class="icon" slot="prepend">&#xe617;</i>
				</el-input>
				<el-button type="success" class="register_btn" @click="register">注册</el-button>
			</div>
		</div>
	</div>
	<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
	<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
	<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
	<script src="/js/common.min.js?v=6b3b028509d862540f4b296ef20c2e9a"></script>
	<script src="/js/login.min.js?v=128091bed6b30d0a52a0d9fb2bc05d4f"></script>
	{% include './layout/count.html' %}
</body>

</html>