<html>
	
	<head>
		{% include './layout/meta.html' with meta %}
		<link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
		<link rel="stylesheet" href="/css/style.min.css?v=5beb2ecdfe460081477448ab281527ec">
	</head>
	
	<body>
		{% include './layout/header.html' with header %}
		
		<div id="searchPage" class="container">
			<div class="main_container">
				<div class="search-content">
					<div class="sort-type">
						<a :class="{active:type==1}" href="javascript:;" @click="sequence(1)">综合排序 · </a>
						<a :class="{active:type==2}" href="javascript:;" @click="sequence(2)">热门文章 · </a>
						<a :class="{active:type==3}" href="javascript:;" @click="sequence(3)">最新发布</a>
						<div class="result_num">${total} 个结果</div>
					</div>
					<div class="articleList" v-if="searchList.length">
						<div class="articleItem" :class="{haveImg:vals.cover!=''}" v-for="vals in searchList">
							<a :href="'/p/' + vals.article_sign" class="art_img" v-if="vals.cover!=''" target="_blank">
								<img :src="vals.cover" alt="" />
							</a>
							<a :href="'/p/' + vals.article_sign" class="art_title" v-text="vals.title" target="_blank"></a>
							<div class="abstract" v-html="vals.abstract"></div>
							<div class="art_bottom">
								<a class="fl" href="#" target="_blank" v-text="vals.nick"></a>
								<div class="fl item">
									<i class="icon fl point">&#xe614;</i>
									<span class="fl" v-text="vals.point_count"></span>
								</div>
								<a class="fl" :href="'/p/' + vals.article_sign + '#comments'" target="_blank">
									<i class="icon fl comment">&#xe64c;</i>
									<span class="fl" v-text="vals.comment_count"></span>
								</a>
								<div class="fl item">
									<i class="icon fl attention">&#xe6e7;</i>
									<span class="fl" v-text="vals.attention_count"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="result_empty" v-if="!searchList.length">
						<img src="/img/search_empty.png?v=f40cc1a7ce65f115cccf1382319be305" alt="">
						<p>未找到相关内容</p>
					</div>
					<div class="pagination_container" v-if="total!=0">
						<el-pagination background @current-change="pageChange" :current-page.sync="page" :page-size="10"
							layout="prev, pager, next, jumper" :total="total">
						</el-pagination>
					</div>
				</div>
				<div class="main_sidebar search_sidebar">
					<div class="search-trending">
						<div class="search-trending-header clearfix">
							<span>热门搜索</span>
						</div>
						<ul class="search-trending-tag-wrap">
							{% for key, vals in hotkey %}
							<li>
								<a href="/search?key={{vals.content}}" target="_blank">{{vals.content}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="search-trending" v-if="latelyKey.length">
						<div class="search-trending-header clearfix">
							<span>最近搜索</span>
							<a href="javascript:;" @click="clearAll()">清空</a>
						</div>
						<ul class="search-recent-item-wrap">
							<li v-for="(vals,index) in latelyKey">
								<a :href="'/search?key='+vals" target="_blank">
									<i class="icon history">&#xe683;</i>
									<span>${vals}</span>
								</a>
								<i class="icon unfollow" @click="clearThis(index)">&#xe63e;</i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<input id="key" type="hidden" value="{{key}}">
		{% include './layout/footer.html' %}
		<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
		<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
		<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
		<script src="/js/common.min.js?v=26842ad4d793b5f9cc92d886bcbb2d9d"></script>
		<script src="/js/search.min.js?v=704b764075fc35dab981de24bbaefdde"></script>
		{% include './layout/count.html' %}
	</body>
</html>