<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/plugins/element/element.min.css">
    <link rel="stylesheet" href="/css/style.min.css?v={{ env.version }}">
</head>

<body>

    {% include './layout/header.html' %}
    <div id="writePage" class="container">
        <div class="write">
            <input type="text" class="word_title" placeholder="输入文章标题" maxlength="50" autofocus="" v-model="title" />
            <!--编辑器-->
            <div id="editor"></div>
            <div class="bottom_ctrl">
                <el-row>
                    <el-col :span="8" class="classify">文章分类：
                        <el-select v-model="classifyValue" placeholder="请选择">
                            <el-option v-for="item in classify" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>
					<el-col :span="8" class="create_classify">
						<span @click="show_create" v-show="!create_flag">没有适合的分类？点击创建</span> 
						<el-input placeholder="最多15个字符" v-show="create_flag" maxlength="15" v-model="new_classify"></el-input>
					</el-col>
					<el-col :span="24">
						<div class="upload">
							<img :src="coverUrl" alt="" class="coverPic"/>
							<button class="upload_btn" id="fileSelect">上传封面图</button>
							<input class="none" accept="image/*" name="upimage" id="upload_file" type="file">
						</div>
					</el-col>
                </el-row>
            </div>
            <button class="publish" v-on:click="comfirm()">发布文章</button>
        </div>
    </div>
    {% include './layout/footer.html' %}

    <script src="/plugins/jquery.min.js"></script>
    <script src="/plugins/vue.min.js"></script>
    <script src="/plugins/element/element.min.js"></script>
    <script src="/plugins/wangeditor/wangEditor.min.js"></script>
    <script src="/js/common.min.js?v={{ env.version }}"></script>
    <script src="/js/write.min.js?v={{ env.version }}"></script>
</body>

</html>
