<!DOCTYPE html>
<html>

<head>
    {% include './layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=6cbf81596a430e778947e0fe8dda758f">
</head>

<body>

    {% include './layout/header.html' with header %}
    <div id="writePage" class="container">
        <div class="write">
            <input type="text" class="word_title" placeholder="文章标题" maxlength="50" autofocus="" v-model="title" />
            <!--编辑器-->
            <div id="editor-title"></div>
            <div id="editor-content">{% autoescape %} {{ content }} {% endautoescape %}</div>
            <div class="bottom_ctrl">
                <el-row>
                    <el-col :span="14" class="classify">文章分类：
                        <el-select v-model="c_first_value" placeholder="请选择一级分类" @change="c_first_callback">
                            <el-option v-for="item in c_first" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                        <el-select v-model="c_second_value" placeholder="请选择二级分类">
                            <el-option v-for="item in c_second" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="6" class="create_classify">
                        <span @click="show_create" v-show="!create_flag">没有适合的二级分类？点击创建</span>
                        <el-input placeholder="最多15个字符" v-show="create_flag" maxlength="15" v-model="new_classify"></el-input>
                    </el-col>
                    <el-col :span="24">
                        <div class="upload">
                            <img :src="coverUrl" alt="" class="coverPic" />
                            <button class="btn upload_btn" id="fileSelect">上传封面图</button>
                            <button class="btn upload_btn" @click="dialogVisible = true">从之前的封面图中选择</button>
                            <input class="none" accept="image/*" name="upimage" id="upload_file" type="file">
                        </div>
                    </el-col>
                </el-row>
            </div>
            <input type="hidden" name="word_msg" value="{{word_msg}}">
            <div class="bottom_ctrl clearfix">
                <button class="btn publish" v-on:click="comfirm()">
                    {% if type == '2' %}
                    重新发布
                    {% else %}
                    发布文章
                    {% endif %}
                </button>
                {% if type == '1' %}
                <el-button class="save" type="danger" round @click.native="saveDraft()">保存为草稿</el-button>
                {% endif %}
            </div>
        </div>
        <el-dialog id="cover-container" title="选择封面图" :visible.sync="dialogVisible">
            <div v-show="cover_list.length">
                <div class="coverlist clearfix">
                    <img :src="item.cover" class="coveritem" alt="" @click="chooseCover(item.cover)" v-for="item in cover_list">
                </div>
                <p class="text-center pointer" v-show="cover_load==1" @click="loadCover()">加载更多</p>
                <p class="text-center" v-show="cover_load==2">没有更多了</p>
            </div>
        </el-dialog>
    </div>

    {% include './layout/footer.html' %}

    <script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
    <script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
    <script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
    <script src="/plugins/wangeditor/wangEditor.min.js?v=84ed219ca7a74501634b12a0364e3721"></script>
    <script src="/js/common.min.js?v=efb6e7b703f38a24ca5bad932a64f4f5"></script>
    <script src="/js/write.min.js?v=ed3f734ec3791386298009379cfc0ddc"></script>
    {% include './layout/count.html' %}
</body>

</html>