<!DOCTYPE html>
<html>

<head>
    {% include '../layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=ffb50c9ad772705a45e43b3144243dc0">
    <style>
        body {
            background-color: #eef0f5;
        }
    </style>
</head>

<body>
	{% include '../layout/header.html' with header %}
	<div id="chatPage" class="container">
		<div class="chat-container">
            <div class="chat-user">
                <div class="article">30天内联系人</div>
                <div class="user-list">
                    <ul>
                        <li :class="{active:current_obj.relation_id==vals.relation_id}" v-for="(vals,index) in user_list" @click="cutchatPerson(index)"><div class="figure"><img :src="vals.head" v-if="vals.head" onerror="this.src='/img/head.png'"><img src="/img/head.png" v-if="!vals.head"></div> <div class="text"><div class="title"><span class="time">${vals.lately_time|dateMd}</span><span class="name">${vals.nick}</span> <p class="gray">${vals.intro}</div> <span class="notice-badge" style="display: none;">0</span></div></li>
                    </ul>
                </div>
            </div>
            <div class="chat-record">
                <div class="article" v-if="current_obj.nick">${current_obj.nick}<span v-if="current_obj.intro"> · ${current_obj.intro}</span></div>
                <div class="chat-message">
                    <div contenteditable="false" class="im-list">
                        <ul>
                            <li class="item-friend" :class="{'item-myself':vals.belong==1}" v-for="vals in chat_list"><div class="message-text clearfix"><div class="figure"><img :src="vals.head" v-if="vals.head"  onerror="this.src='/img/head.png'"><img src="/img/head.png" v-if="!vals.head"></div> <div class="text"><p><span>${vals.content}</span></p></div></div></li>
                        </ul>
                    </div>
                </div>
                <div class="chat-editor">
                    <div contenteditable="true" id="chat-input" class="chat-input" @input="watchDiv($event)" @keyup.enter="sendMsg">${current_obj.prev_content}</div>
                    <div class="chat-op">
                        <span class="tip">按Enter键或者点击发送按钮发送</span> <el-button type="success" size="small" round @click="sendMsg">发送</el-button>
                    </div>
                </div>
                <div class="im-welcome" v-if="!current_obj"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="user_msg" value="{{user_msg}}">
	{% include '../layout/footer.html' %}
	<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
	<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
	<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
    <script src="/js/common.min.js?v=bdf39f1c112211414e100bbbad0728d2"></script>
    <script src="/js/chat.min.js?v=d2ec4f45a5d3a11c85107b1fae05b716"></script>
	{% include '../layout/count.html' %}
</body>

</html>