<!DOCTYPE html>
<html>

<head>
    {% include '../layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=7c7515ef1518b0866ca139072e5a2a8a">
</head>

<body>
	{% include '../layout/header.html' with header %}
	
	<div id="basicPage" class="container settingPage">
		<div class="setting_container">
			{% include '../layout/settingbar.html' with index %}
			<div class="top clearfix">
				<div class="avatar">
					{% if header.userInfo.head!=0 %}
					<img class="head" src="{{header.userInfo.head}}" alt="" onerror="this.src='/img/head.png'">
					{% else %}
					<img class="head" src="/img/head.png?v=2315f470e8d08c06279043c0e9832e89" alt="">
					{% endif %}
				</div>
				<el-button id="fileSelect" class="change" type="success" plain size="mini" round>更改头像</el-button>
				<input class="none" accept="image/*" name="upimage" id="upload_file" type="file">
			</div>
			<div class="list-item">
				<span class="label">昵称</span>
				<el-input class="nick" placeholder="请输入昵称" value="{{header.userInfo.nick}}" maxlength="20"></el-input>
			</div>
			<div class="list-item">
				<span class="label">性别</span>
				<div class="defaultHeight">
					<el-radio v-model="gender" label="1">男</el-radio>
					<el-radio v-model="gender" label="2">女</el-radio>
					<el-radio v-model="gender" label="3">保密</el-radio>
				</div>
			</div>
			<div class="list-item">
				<span class="label">手机号</span>
				<p class="default">{{header.userInfo.account}}</p>
			</div>
			<el-button class="save" type="success" round @click.native="saveMeans()">保存</el-button>
		</div>
	</div>
	<input id="sex" type="hidden" value="{{header.userInfo.sex}}">
	{% include '../layout/footer.html' %}
	<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
	<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
	<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
	<script src="/js/common.min.js?v=bdf39f1c112211414e100bbbad0728d2"></script>
	<script src="/js/setting.min.js?v=4cae5f2596d9f47530a318aae7d60d3a"></script>
	{% include '../layout/count.html' %}
</body>

</html>