<!DOCTYPE html>
<html>

<head>
    {% include '../layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=8e72c2b22a4f069fd5038e220e051fcd">
</head>

<body>
	{% include '../layout/header.html' with header %}
	
	<div id="helpPage" class="container settingPage">
		<div class="setting_container">
			{% include '../layout/settingbar.html' with index %}
			<h2>帮助与反馈</h2>
			<p class="brief">您在使用桃花源的过程中，不管是有什么问题，或者是有什么想对小桃说的，小桃都会认真对待，问题小桃会在第一时间解决，意见小桃也会仔细思考并改正，希望您能提出宝贵的意见呢。</p>
		    <div class="list-item mt_20">
				<span class="label">意见反馈</span>
				<el-input type="textarea" :row="3" placeholder="填写意见反馈" v-model="helpObj.issue" maxlength="200"></el-input>
			</div>
			<div class="list-item">
				<span class="label">联系方式</span>
				<el-input placeholder="微信号/手机号/QQ/邮箱" v-model="helpObj.contact" maxlength="30"></el-input>
			</div>
			<el-button class="save" type="success" round @click.native="submitIssue()">提交</el-button>
		</div>	
	</div>
	
	{% include '../layout/footer.html' %}
	<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
	<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
	<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
	<script src="/js/common.min.js?v=bdf39f1c112211414e100bbbad0728d2"></script>
	<script src="/js/setting.min.js?v=4cae5f2596d9f47530a318aae7d60d3a"></script>
	{% include '../layout/count.html' %}
</body>

</html>