<!DOCTYPE html>
<html>

<head>
    {% include '../layout/meta.html' with meta %}
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=c57716872b24d5e10d0e9e0bb0b29674">
</head>

<body>
	{% include '../layout/header.html' with header %}
	
	<div id="rewardPage" class="container settingPage">
		<div class="setting_container">
			{% include '../layout/s_leftbar.html' with index %}
			<div class="list-item">
				<span class="label">赞赏功能</span>
				<div class="defaultHeight">
					<el-radio v-model="reward" label="1">开启</el-radio>
					<el-radio v-model="reward" label="0">关闭</el-radio>
				</div>
				<p class="explain">开启后赞赏按钮将出现在你的文章底部</p>
			</div>
			<div class="list-item">
				<span class="label">收款二维码</span>
				{% if header.userInfo.receipt_code!=0 %}
				<img class="imgcode" src="{{header.userInfo.receipt_code}}" alt="">
				{% else %}
				<img class="imgcode" src="/img/receipt_code.png?v=746a35da0bb035e0b9df55f8037876ec" alt="">
				{% endif %}
				<el-button id="fileSelect" class="upcode" type="success" round plain>上传二维码</el-button>
				<input class="none" accept="image/*" name="upimage" id="upload_file" type="file">
			</div>
			<el-button class="save" type="success" round @click.native="saveReward">保存</el-button>
		</div>
	</div>
	<input id="reward" type="hidden" value="{{header.userInfo.reward}}">
	{% include '../layout/footer.html' %}
	<script src="/plugins/jquery.min.js?v=e0e0559014b222245deb26b6ae8bd940"></script>
	<script src="/plugins/vue.min.js?v=be4c25a10b8ae99067f58011f992adba"></script>
	<script src="/plugins/element/element.min.js?v=1ad579b4e2bb516a98d063b5871a3878"></script>
	<script src="/js/common.min.js?v=89537aa78e06cb953440b161cc45caef"></script>
	<script src="/js/setting.min.js?v=4cae5f2596d9f47530a318aae7d60d3a"></script>
	{% include '../layout/count.html' %}
</body>

</html>