<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    
    <!-- Start of Baidu Transcode -->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <!-- End of Baidu Transcode -->
    
    
    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="您要找的页面不存在-桃花源">
    
    <title>您要找的页面不存在-桃花源</title>
	<link rel="shortcut icon" href="/img/logo.ico?v=e42a4d7f62455b3fb98e6abd17ebfdff" />
    <link rel="stylesheet" href="/plugins/element/element.min.css?v=60bfa99704ded437ebd59ce5b4b00252">
    <link rel="stylesheet" href="/css/style.min.css?v=e72dc56ae1211396891cd3a539542a78">
	<!--[if IE]>
		<script>
		    window.location.href = "/broswer.html";
		</script>
		<![endif]-->
</head>

<body>
    <div id="page404" class="container">
		<img src="/img/logo.png?v=c31538bf3ca7b2441836121f43c3545e" alt="" class="img_logo">
        <img src="/img/404.jpg?v=c05f907bb8449b21f9f4655ff88f9549" alt="" class="img_404" />
		<h3>您要找的页面不存在</h3>
        <p>可能是因为您的链接地址有误、该文章已经被作者删除。</p>
        <button class="gohome">
            <a href="/">返回「桃花源」首页</a>
        </button>
    </div>
</body>

</html>
