<div id="footerPage">
	<footer>
		<div class="container">
		     <div class="system">
				 <a href="">关于桃花源</a>
				 <em> · </em>
				 <a href="">联系我们</a>
				 <em> · </em>
				 <a href="">加入我们</a>
				 <em> · </em>
				 <a href="">帮助中心</a>
				 <em> · </em>
				 <a href="">合作伙伴</a>
			 </div>
			 <p class="msg">友情链接: <a href="https://www.lishuaishuai.com/" target="_blank">李帅帅空间-全栈之路</a></p>
			 <p class="msg">© 2018  <a href="http://www.taohuayuanskill.com/" target="_blank">桃花源</a> <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备18003204号-1</a></p>
	    </div>
	</footer>
</div>