<div id="headerPage">
	<header>
		<nav>
			<div class="center_container">
			<div class="logo">
				<img src="/img/logo.png" alt="" />
			</div>
			<div class="center">
				<ul>
					<li>
						<a href="/">发现</a>
					</li>
					<li>
						<a href="/write">写博客</a>
					</li>
				</ul>
				<div class="search">
					<input type="text" placeholder="搜索" />
					<i class="icon">&#xe60c;</i>
				</div>
			</div>
			<button class="login">
				<a href="/login">登录</a>
			</button>
			</div>
		</nav>
	</header>
</div>