<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"> -->

<!-- Start of Baidu Transcode -->
<meta name="baidu-site-verification" content="pH8MSssxZu" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc,mobile">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<!-- End of Baidu Transcode -->

<meta name="description" content="{{meta.description}}">
<meta name="keywords" content="{{meta.keywords}}">


<!-- Apple -->
<meta name="apple-mobile-web-app-title" content="{{meta.title}}">

<title>{{meta.title}}</title>

<link rel="shortcut icon" href="/img/logo.ico?v=e42a4d7f62455b3fb98e6abd17ebfdff" />

<!-- 消息铃声 -->
<audio src="/audio/didi.mp3?v=e6a75785ed63be7fe9b0fe1269ebbc10" id="didiAudio" type="audio/mp3"></audio>

<!--[if IE]>
	<script>
	    window.location.href = "/broswer.html";
	</script>
	<![endif]-->