<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

<!-- Start of Baidu Transcode -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc,mobile">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<!-- End of Baidu Transcode -->

<meta name="description" content="{{meta.description}}">
<meta name="keywords" content="{{meta.keywords}}">


<!-- Apple -->
<meta name="apple-mobile-web-app-title" content="{{meta.title}}">

<title>{{meta.title}}</title>

<link rel="shortcut icon" href="/img/logo.ico?v=bc15f396eab254e420a2af90ab75cd09" />

<!--[if IE]>
	<script>
	    window.location.href = "/broswer.html";
	</script>
	<![endif]-->
