<div id="s_leftbarPage">
    <ul>
        <li>
            <a href="" class="active">
                <div class="setting-icon">
                    <i class="icon basic">&#xe600;</i>
                </div>
                <span>基础设置</span>
            </a>
        </li>
        <li>
            <a href="">
                <div class="setting-icon">
                    <i class="icon reward-setting">&#xeb03;</i>
                </div>
                <span>赞赏设置</span>
            </a>
        </li>
    </ul>
</div>
