<div id="s_leftbarPage">
    <ul>
        <li>
            <a href="/setting/basic" {% if index==0 %} class="active" {% endif %}>
                <div class="setting-icon">
                    <i class="icon basic">&#xe600;</i>
                </div>
                <span>基础设置</span>
            </a>
        </li>
        <li>
            <a href="/setting/reward" {% if index==1 %} class="active" {% endif %}>
                <div class="setting-icon">
                    <i class="icon reward">&#xeb03;</i>
                </div>
                <span>赞赏设置</span>
            </a>
        </li>
    </ul>
</div>
