<div id="sidebarPage">
    <div class="sidebar_li">
        <div class="classify">{{classify.month}}月最热</div>
        <div class="tag">
            <ul>
				<li class="li1">
					<a href="{{classify.list[0].id}}" target="_blank">{{classify.list[0].value}}</a>
				</li>
                <li class="li2">
					<a href="{{classify.list[1].id}}" target="_blank">{{classify.list[1].value}}</a>
				</li>
                <li class="li3">
					<a href="{{classify.list[2].id}}" target="_blank">{{classify.list[2].value}}</a>
				</li>
                <li class="li4">
					<a href="{{classify.list[3].id}}" target="_blank">{{classify.list[3].value}}</a>
				</li>
                <li class="li5">
					<a href="{{classify.list[4].id}}" target="_blank">{{classify.list[4].value}}</a>
				</li>
            </ul>
        </div>
        <div class="classify">热门分类</div>
        <div class="cloud">
			{% for cloud in classify.list %}
			<a href="/c/{{cloud.id}}" target="_blank">{{cloud.value}}</a>
			{% endfor %}
        </div>
    </div>
</div>

