<div id="sidebarPage">
    <div class="sidebar_li">
        <div class="classify">{{classify.month}}月最热</div>
        <div class="tag">
            <ul class="clearfix">
				{% for item in classify.commend %}
				<li>
					<a href="/c/{{item.id}}">
					    <img {% if item.cover!=''&&item.cover!=null %} src="{{item.cover}}" {% else %} src="{{item.img}}" {% endif %}>
					    <div class="p_overflow">
					    	<p>{{item.value}}</p>
					    </div>
					</a>
				</li>
				{% endfor %}
            </ul>
        </div>
        <div class="classify">热门分类</div>
        <div class="cloud">
			{% for cloud in classify.list %}
			<a href="/c/{{cloud.id}}" target="_blank">{{cloud.value}}</a>
			{% endfor %}
        </div>
    </div>
</div>

