<div id="sidebarPage">
    <div class="sidebar_li">
        <div class="classify">推荐分类</div>
        <div class="tag">
            <ul>
                <li class="li1">JavaScript</li>
                <li class="li2">html</li>
                <li class="li3">css</li>
                <li class="li4">webpack</li>
                <li class="li5">生活杂谈</li>
            </ul>
        </div>
        <div class="classify">全部分类</div>
        <div class="cloud">
            <a href="#">标签云</a>
            <a href="#" class="red">PHP</a>
            <a href="#">瀑布流</a>
            <a href="#">Tab</a>
            <a href="#" class="blue">流体布局</a>
            <a href="#">SEO</a>
            <a href="#" class="red">彩蛋</a>
            <a href="#" class="green">JavaScript</a>
            <a href="#">miaov</a>
            <a href="#" class="red">CSS</a>
            <a href="#">asp.net</a>
            <a href="#" class="blue">蓝色经典</a>
            <a href="#">OOP</a>
            <a href="#" class="red">Android</a>
            <a href="#" class="blue">妙味茶馆</a>
            <a href="#">dialog</a>
            <a href="#" class="blue">淘客</a>
            <a href="#">Pin</a>
            <a href="#">微博</a>
            <a href="#" class="green">IPhone</a>
        </div>
    </div>
</div>

